# Bitcoin RPC (precisa bater com o bitcoin.conf)
RPC_HOST=127.0.0.1
RPC_PORT=58443
RPC_USER=teste
RPC_PASS=teste
RPC_WALLET=
BTC_NETWORK=signet
BTC_DATADIR=/home/bitcoin/.bitcoin

FLASK_ENV=production